@import url("../../App.css");

.title-first {
  font-family: var(--head-font);
  color: var(--secondary);
  margin-bottom: 0;
  font-size: 2rem;
}
.title-second {
  color: var(--primary);
  text-transform: uppercase;
  font-family: var(--head-font);
  margin-top: 0;
  font-size: 3rem;
}
.home-image {
  max-width: 500px;
}

.hero-text {
  font-family: var(--text-font);
  color: var(--secondary);
  max-width: 500px;
  padding: 10px;
  font-style: italic;
  font-size: 1.1rem;
  text-shadow: 1px 1px 1px black;
}

.sign-in-btn {
  font-family: var(--head-font) !important;
  font-weight: bold !important;
}

.planet-img {
  height: 50px;
  position: fixed;
}

.planet-img:nth-of-type(2) {
  height: 65px;
  top: 45%;
  left: 15%;
}
.planet-img:nth-of-type(3) {
  height: 55px;
  top: 65%;
  left: 12%;
}
.planet-img:nth-of-type(4) {
  height: 75px;
  top: 20%;
  right: 12%;
}
.planet-img:nth-of-type(5) {
  height: 55px;
  top: 38%;
  right: 5%;
}
.planet-img:nth-of-type(6) {
  height: 65px;
  top: 70%;
  right: 12%;
}

@media (max-width: 768px) {
  .title-first {
    font-size: 1.5rem;
  }
  .title-second {
    font-size: 2.2rem;
  }
  .home-image {
    max-width: 100%;
  }
  .planet-img {
    display: none;
  }
}

@media (max-height: 800px) {
  .home-image {
    max-height: 200px;
  }
}
