@import url('../../App.css');

.title-first,
.subtitle-trending {
  font-family: var(--head-font);
  color: var(--secondary);
  margin-bottom: 0;
  font-size: 2rem;
}

.subtitle-trending {
  text-transform: uppercase;
  margin-bottom: 30px;
}

.title-second {
  font-size: 3rem;
}

.title-second,
.title-trending {
  color: var(--primary);
  text-transform: uppercase;
  font-family: var(--head-font);
  margin-top: 0;
}

.title-trending {
  font-size: 2.5rem;
}

.home-image,
.about-image {
  max-width: 500px;
}

.hero-text,
.about-text {
  font-family: var(--text-font);
  color: var(--secondary);
  max-width: 500px;
  padding: 10px;
  font-style: italic;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-shadow: 1px 1px 1px #242424;
}

.sign-in-btn {
  font-family: var(--head-font) !important;
  font-weight: bold !important;
}

@media (max-width: 768px) {
  .title-first {
    font-size: 1.5rem;
  }
  .title-second {
    font-size: 2.2rem;
  }
  .home-image {
    max-width: 100%;
  }
  .planet-img {
    display: none;
  }
}

@media (max-height: 800px) {
  .home-image,
  .about-image {
    max-height: 200px;
  }
}
