.MuiTooltip-tooltip {
  background-color: #f00a60 !important;
  color: #29def0 !important;
  font-weight: bold !important;
  font-size: 0.9rem !important;
  font-family: var(--head-font) !important;
}
