:root {
  --head-font: 'Orbitron', sans-serif;
  --text-font: 'Lato', sans-serif;
  --primary: #29def0;
  --secondary: #f00a60;
  --bg-color: #242424;
}

#root {
  width: 100vw;
  height: 100vh;
  padding: 0;
  text-align: center;
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  width: 100vw;
  height: 100vh;
  /* background-color: #242424; */
  background-image: url('./assets/bgimage.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--primary);
}

p:hover,
h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover {
  cursor: default;
}

@media (max-width: 768px) {
  body {
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
  }
}
