:root {
  --head-font: "Orbitron", sans-serif;
  --text-font: "Lato", sans-serif;
  --primary: #29def0;
  --secondary: #f00a60;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
